@import "./../App.scss";

.parent {
  display: flex;
  justify-content: center;
}

.player-card {
  height: 250px;
  width: 700px;
  border: 2px solid #1a4aa1;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    height: 700px;
    width: 250px;
  }
}

.player-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.disclose-button {
  background-color: #1a4aa1;
  height: 50px;
  width: auto;
  color: white;
  border-radius: 10px;
  border: 3px solid #df0e30;
  padding: 5px 10px;
  align-self: center;
}

.disclose-button:hover {
  background-color: #df0e30;
  border: 3px solid #1a4aa1;
  padding: 5px 10px;
}

.next-player-button {
  background-color: #1a4aa1;
  height: 50px;
  width: auto;
  color: white;
  border-radius: 10px;
  border: 3px solid #df0e30;
  padding: 5px 10px;
  align-self: center;
}

.next-player-button:hover {
  background-color: #df0e30;
  border: 3px solid #1a4aa1;
  padding: 5px 10px;
}

h3 {
  text-align: center;
}

// ANIMATION

.flip-in-ver-right {
  -webkit-animation: flip-in-ver-right 0.7s linear both;
  animation: flip-in-ver-right 0.7s linear both;
}

/**
 * ----------------------------------------
 * animation flip-in-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
